.Topbar{
    /* height:3rem; */
    padding:1rem;
    background-color: white;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.TopbarItem{
    border: 1px solid var(--clr-red);
    padding:0.6rem;
    border-radius: 1.2rem;
}